:root{
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --White: hsl(0, 0%, 98%);
  --Hover-Card-Action: hsl(245, 83%, 68%);
  --Shadow-Card: hsla(223, 47%, 23%, 0.095);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
  padding: 0 5%;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    url(../images/pattern-background-mobile.svg)
   -14% 0 / contain  /*Position and size*/
   no-repeat 
   fixed  /*attachment*/
  ;
  background-color: var(--Pale-blue);
}
button{
  border: none;
  cursor: pointer;
}

/* Container all Cards */
.card-container{
  max-width: 25em;
  padding: 2em 0;
}

/* Container Card */
.card-summary{
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--White);
  box-shadow: 0 1em 1em rgba(31, 47, 86, 0.095);
}
/* Hero Card */
.card-summary__cover > img{
  width: 100%;
}

/* Container text of card */
.card-info{
  padding: 2em calc(1.25em + 1vmin);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-info__title{
  margin: 0;
  font-weight: 900;
  color: var(--Dark-blue);
}
.card-info__desc{
  margin: 1.2em 0;
  padding: 0 calc(.5em + 1vmin);
  line-height: 1.6;
  color: var(--Desaturated-blue);
}


.card-plan{
  width: 100%;
  padding: .95em;
  margin-bottom: 1.3em;
  border-radius: .6em;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  background-color: var(--Very-pale-blue);
}
.card-plan__price{
  margin: 0;
  margin-left: 1em;
  text-align: left;
  font-weight: 700;
  color: var(--Dark-blue);
}
.card-plan__price > span{
  font-weight: 500;
  color: var(--Desaturated-blue);
}


.btn-change,
.btn-cancel{
  background: none;
}

/* Styles from button change  */
.btn-change{
  text-decoration: underline;
  font-size: .85em;
  font-weight: 700;
  color: var(--Bright-blue);
}
.btn-change:hover{
  text-decoration: none;
  transition-duration: color .3s;
  color: var(--Hover-Card-Action);
}

/* Styles from button cancel  */
.btn-cancel{
  font-weight: 700;
  transition: color .3s;
  color: var(--Desaturated-blue);
}
.btn-cancel:hover{
  color: var(--Dark-blue);
}

/* Styles from button pay  */
.btn-pay{
  width: 100%;
  padding: 1em 0;
  margin-bottom: 1.6em;
  border-radius: .6em;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Bright-blue);
  box-shadow: 0 .6em 1em hsla(245, 75%, 52%, 0.303);
}
.btn-pay:hover{
  transition: background-color .3s;
  background-color: var(--Hover-Card-Action);
}

.attribution{
  padding: 2em 0 0;
  font-size: .8em;
  line-height: 1.5;
  color: var(--Desaturated-blue);
  text-align: center;
}
.attribution > a{
  font-weight: 700;
  color: var(--Dark-blue);
}

/* Breakpoints */
@media (min-width: 400px){
  .card-info{
    padding: 2em calc(1.25em + 2vmin);
  }
}
@media (min-width: 600px){
  body{
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: 0 calc(-3em + 3vmin);
  }
}
@media (min-width: 1000px){
  body{
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: 0 calc(-6em + 3vmin);
  }
}